.container {
    height: calc(88vh - 30px); /* altura máxima permitida para la lista */
    overflow-y: auto; /* permitir scrollbar vertical cuando el contenido exceda la altura permitida */
    padding: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
}

mat-grid-list {
    width: 170vh;
    margin: 0;
}

.custom-card {
    background-color: #FFF; /* color de fondo */
    border: 1px solid #ccc; /* borde */
    border-radius: 4px; /* borde redondeado */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* sombra */
    padding: 10px; /* espacio interno */
    margin: 0px; /* espacio externo */
    width: 270px; /* ancho */
    height: 405px; /* alto */
    text-decoration: none;
    color: #000;
    opacity: 0.95;
  }

  mat-card-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  mat-card-content p {
    font-size: 13px;
    line-height: 1.5;
    color: #666;
    max-height: 90px;
    overflow: auto;
  }

  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card-levitate {
    transition: transform 0.2s ease-out;
    transform: translate(0px, 0px);
  }
  
  .card-levitate:hover {
    transform: translate(0px, -10px);
  }

  .featured-icon-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .featured-icon-container img {
    margin-left: auto;
  }
  